= turbo_frame_tag "modal", data: { personal_data_id: @personal_data.id }
  = tag.div data: { controller: "turbo-modal", turbo_modal_target: "modal", action: "turbo:keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" } do
    = render "form", personal_data: @personal_data
