.fixed.inset-0.flex.items-center.justify-center.z-50.bg-black.bg-opacity-50.overflow-y-scroll
  .h-full.mt-40.mb-20
    .modal-wrapper.bg-white.p-8.rounded-md
      = render 'employments/form', employment: Employment.new, personal_data_id: personal_data_id
